




  

     
  
  body{
   background-color: black center center no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
    

/* Links do menu */
a{
    text-align: center;
    color: red;
}

#container{
  size: 100px;
}







